<nav class="navbar">
  <h1><p>Visita Londres</p></h1>
  <div class="navbar-container">
    <button class="navbar-toggler" type="button">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <p class="menu">Principal</p>

    </button>
    <button class="navbar-toggler" type="button">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <p class="menu">Cards</p>
    </button>
    <button class="navbar-toggler" type="button">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <p class="menu">Cambio</p>
    </button>
    <mat-tab-group>
      <mat-tab label="Parallax"></mat-tab>
      <mat-tab label="Cards"></mat-tab>
      <mat-tab label="Cambio"></mat-tab>
    </mat-tab-group>
  </div>
</nav>
